@media (max-width: 992px) {
    html {
        font-size: 14px;
    }

    .hero-section img {
        width: 50%;
        object-fit: cover;
        flex: 0 0 1rem;
    }

    .headline {
        display: flex;
        flex: 1;
        flex-flow: column nowrap;
        gap: 1em;
        padding: 4em 2em;

        width: 45%;
    }

    .headline h1 {
        font-size: 2rem;
    }

    .headline h5 {
        font-size: 1rem;
    }

    .cta-button {
        padding: .7em 1em;
        margin-top: 1em;
    }

    .features-section .wrapper h1 {
        font-size: 2rem;
    }

    .features-content {
        width: 90%;
        gap: 2em;
    }

    .features-content h3 {
        font-size: 1.5rem;
    }

    .features-content img {
        width: 3em;
    }

    .features-item {
        width: 100%;
    }

    #feature-2 {
        width: 90%;
    }

    .testimonial-section h1 {
        font-size: 2rem;
    }

    footer {
        grid-template-areas:
            "contact-address"
            "social-media"
            "copyright";
    }
}

@media (max-width: 600px) {
    html {
        font-size: 14px;
    }

    header {
        flex-flow: column nowrap;
    }

    header nav ul {
        margin-block: 1em;
    }

    header nav a {
        padding: 1em 2em;
    }

    .hero-section {
        flex-flow: column-reverse nowrap;
    }

    .hero-section img {
        width: 100%;
        flex: none;
    }

    .headline {
        width: 100%;
        padding: 3em 2em;
        flex: none;
    }

    .headline h1 {
        font-size: 2rem;
    }

    .headline h5 {
        font-size: 1rem;
    }

    .cta-button {
        padding: .7em 1em;
        margin-top: 2em;
    }

    .features-section {
        padding-inline-end: 0;
    }

    .features-section .wrapper {
        flex-flow: column nowrap;
        gap: 1.5em;
        justify-content: center;
    }

    .features-section .wrapper h1 {
        text-align: center;
        font-size: 2rem;
    }

    .features-content {
        width: 100%;
        gap: 2em;
    }

    .features-content h3 {
        font-size: 1.5rem;
    }

    .features-content img {
        width: 3em;
    }

    .features-item {
        width: 90%;
    }

    #feature-2 {
        width: 80%;
    }

    .testimonial-section h1 {
        font-size: 2rem;
    }

    footer {
        grid-template-areas:
            "contact-address"
            "social-media"
            "copyright";
    }

    .social-media h1 {
        font-size: 2rem;
    }
}